aiohttp==3.3.2
aniso8601==3.0.2
asn1crypto==0.24.0
async-timeout==3.0.0
atomicwrites==1.1.5
attrs==18.1.0
base58==0.2.4
bigchaindb-abci==0.5.1
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
colorlog==3.1.4
coverage==4.5.1
cryptoconditions==0.6.0.dev1
cryptography==1.9
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
gevent==1.2.2
greenlet==0.4.14
gunicorn==19.9.0
idna==2.7
idna-ssl==1.1.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.5.1
logstats==0.2.1
MarkupSafe==1.0
more-itertools==4.3.0
multidict==4.3.1
pluggy==0.7.1
protobuf==3.6.1
py==1.5.4
pyasn1==0.2.3
pycparser==2.18
pymongo==3.7.1
PyNaCl==1.1.2
pysha3==1.0.2
pytest==3.7.2
pytest-cov==2.5.1
pytest-pythonpath==0.7.3
python-rapidjson==0.6.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
setproctitle==1.1.10
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
yarl==1.2.6
