gevent==1.2.2
pymongo~=3.6
pysha3~=1.0.2
cryptoconditions~=0.6.0.dev
python-rapidjson~=0.6.0
logstats~=0.2.1
flask>=0.10.1
flask-cors~=3.0.0
flask-restful~=0.3.0
requests~=2.9
gunicorn~=19.0
jsonschema~=2.5.1
pyyaml~=3.12
aiohttp~=3.0
bigchaindb-abci==0.5.1
setproctitle~=1.1.0